# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scipy
6. Plotly

| Category         | Tool Name         |
|------------------|-------------------|
| IDE              | Jupyter Notebook  |
| Data Management  | Apache Hadoop     |
| Visualization    | Tableau           |

### Below are examples of evaluating arithmetic expressions in Python.

In [8]:
# This expression multiplies 3 and 4, then adds 5
(3 * 4) + 5

17

In [9]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

### Objectives:
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using Markdown
- Use arithmetic expressions in code
- Convert minutes to hours using Python

## Author
Juan Dcouto